.section-title {
    width: 60%;
    margin: 0 auto;
    font-family: 'Inter-Bold', 'Arial', sans-serif;
    font-size: 60px;
    line-height: 1.15;
    text-align: center;
    position: relative;
    z-index: 1;
}

