.header__title{
    display: flex;
    justify-self: start;
    padding-left: 64px;
    line-height: 96px;
    font-size: 102px;
    font-weight: 700;
    max-width: 730px;
    z-index: 3;
    margin: 0;
}