.header__title{
    display: flex;
    justify-self: start;
    padding-left: 64px;
    line-height: 96px;
    font-size: 102px;
    font-family: 'Inter-Bold', 'Arial', sans-serif;
    max-width: 730px;
    z-index: 2;
    margin: 0;
}