.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  /* выше установили ограничения для секции */
}

/* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */
.header__square-pic {
  height: 568px;
  width: 568px;
}

/* и элемента с модификатором вида ключ-значение */
.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
}




.brief__link{
  font-family: 'Inter-Regular','Arial', sans-serif;
}

.title-section{
margin: 0;
border: 1px solid #0000ff;
}

.brief{
width: 175px;
align-items: stretch;
margin: 0;
font-size: 18px;
font-weight: normal;
line-height: 1.2;
}

.main-text{
display: flex;
flex-direction: column;
width: 80%;
min-width: 784px;
justify-content: space-between;

}

.description{
display: flex;
margin: 100px auto 0;
width: 80%;
}

.two-columns{
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: auto;
}

.main-text__paragraph{
  font-family: 'Inter-Regular','Arial', sans-serif;
  border: 1px solid #008000;
  line-height: 34px;
  font-weight: normal;
  font-size: 24px;
  margin: 30px 0 0;
}

.first_paragraph{
  margin-top: 0;
}

.main-text__span-accent{
  font-family: 'Inter-Bold','Arial', sans-serif;
}



section{
  border: 1px solid #0000ff;
  display: flex;
  margin: 100px auto 0;
  width: 80%;
  flex-direction: column;
} 

div{
  border: 1px solid #ff0000;
}

.table{
  display: flex;
  flex-wrap: wrap;
  width: 1100px;
  margin: 0 auto 100px;
  justify-content: space-between;
}

.table_theme_dark{
background-color: #000;
color:#fff;
}

.table-cell{
  display: flex;
 flex-direction: column;
 width: 250px;
 margin: 60px 0 0;
}

.table_cell_theme_dark{
  width: 200px;
}

.section-title{
  margin: auto ;
  width: 60%;
  font-family: 'Inter-SemiBold','Arial', sans-serif;
  font-size: 60px;
  line-height: 1.15;
  text-align: center;  
}

.section-title_theme_dark{
  background-color: #000;
  color:#fff;
}

.section-subtitle{
  margin: auto;
  font-family: 'Inter-Regular','Arial', sans-serif;
  font-size: 24px;
  line-height: 34px;
  width: 60%;
  text-align: center;
  margin-top: 20px;
}

.section-subtitle_theme_dark{
  background-color: #000;
  color:#fff;
}

.heading{
  display: flex;
  font-family: 'Inter-SemiBold','Arial', sans-serif;
  font-size: 24px;
  line-height: 1.15;
  border: 1px solid #0000ff;
  margin-bottom: 0;
}

.text{
  display: flex;
  font-family: 'Inter-Regular','Arial', sans-serif;
  font-size: 18px;
  line-height: 1.2;
  border: 1px solid #0000ff;
  margin: 20px 0 0;
}

